# Ignore OSX specific files
*.DS_Store

# Ignore intermediate build files
*.log
*.synctex.gz

# Ignore R Data files
*.RData
*.rdata
*.Rhistory
.Rproj.user
*.Rproj

# Ignore scratch space
scratch/*

# Do not put inputs and outputs into version control
input/*
proc_data/*
reports/*
