# Ignore OSX specific files
*.DS_Store

# Intermediate build files
*.log
*.synctex.gz

# RStudo project and R Data files
*.RData
*.rdata
*.Rhistory
.Rproj.user
*.Rproj

# Scratch space
scratch/*
scratch.r
TODO

# Do not put actual config into version control
config/*

# Do not put inputs and outputs into version control
input/*
reports/*
build/*

# RStudio and Sweave artifacts
*.pdf
*.tex

figure/*

