---
default:
  clc:
    title: Documenting goals of care conversations
    assists:
      - Data collected quarterly.
      - Data is analyzed in aggregate.
      - Your millage may vary.
    sites:
      dTR:
        name: Decreasing Trend Facility
        contacts:
          - Jane Smith, Product Owner (555-555-5555)
          - John Jones, Decreasing Manager (555-222-1234)
        provider: REPORT PROVIDER NAME
      iTR: 
        name: Increasing Trend Site
        contacts:
          - Jane Smith, Product Owner (555-555-5555)
          - John Jones, Increasing Manager (555-222-5678)
        provider: REPORT PROVIDER NAME
      nTR:
        name: No Trend Location
        contacts:
          - Jane Smith, Product Owner (555-555-5555)
          - John Jones, No Trend Manager (555-222-9101)
        provider: REPORT PROVIDER NAME
      rTR: 
        name: Randal Trenderson Building
        contacts: John Jones, Random Manager (555-222-1121)
        provider: REPORT PROVIDER NAME
  hbpc:
    title: Documenting HBPC Goals of Care Conversations
    assists:
      - Data collected quarterly.
      - Data is analyzed in aggregate.
      - Your work is a part of these results.
    sites:
      dTR:
        name: Decreasing Trend Facility
        contacts:
          - Hellen Smith, Product Owner (555-555-5555)
          - Hobbit Jones, Decreasing Manager (555-222-1234)
        provider: REPORT PROVIDER NAME
      iTR:
        name: Increasing Trend Site
        contacts:
          - Harriet Smith, Product Owner (555-555-5555)
          - Henrietta Jones, Increasing Manager (555-222-5678)
        provider: REPORT PROVIDER NAME
      nTR:
        name: No Trend Location
        contacts:
          - Howard Smith, Product Owner (555-555-5555)
          - Herny Jones, No Trend Manager (555-222-9101)
        provider: REPORT PROVIDER NAME
      rTR:
        name: Randal Trenderson Building
        contacts: Hugo Jones, Random Manager (555-222-1121)
        provider: REPORT PROVIDER NAME
